* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #333;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dark {
  background: #111827;
  color: white;
}

body.dark {
  background: #111827;
  color: white;
}