.navbar {
  height: 70px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 80px;

  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.logo {
  color: #007bff;
}

.dark-btn {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
}

body.dark .navbar {
  background: #1f2937;
}